{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tutorial Twitter app</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
</head>

<body>

<div class="blog-masthead">
    <div class="container">
        {% block nav_ %}{% endblock %}
    </div>
</div>

<div class="container">
    {% block head_ %}{% endblock %}

    <div class="row">
        {% block main_ %}{% endblock %}
    </div><!-- /.row -->

</div><!-- /.container -->

<footer class="blog-footer">
    <p>
        Twitter made in Django - tutorial at django-tips.com
    </p>
</footer>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block js_ %}{% endblock %}
</body>
</html>
